#modal-content form {
	display: flex;
	flex-direction: column;
}
#modal-content label {
	padding: 10px;
	font-size: 16px;
	width: 200px;
}

#modal-content input {
	margin: 10px;
	border: 1px solid rgb(78, 78, 78);
	border-radius: 8px;
	height: 20px;
}
#modal-content h1 {
	text-align: center;
}
#modal-content button {
	border: none;
	padding: 10px;
	border-radius: 10px;
	margin-right: 40px;
	cursor: pointer;
	font-weight: 600;
	font-size: 16px;
}

#modal-content {
	border-radius: 10px;
	padding: 14px;
	width: 500px;
}

.input-wrapper {
	display: flex;
	justify-content: space-between;
}
