form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
}
label {
	padding: 10px;
	display: inline-block;
	width: 200px;
}

input {
	margin: 10px;
}
#modal-content {
	border-radius: 10px;
	padding: 14px;
	width: 20%;
}
