.input-wrapper form {
	display: flex;
	flex-direction: column;
}

.input-wrapper input {
	margin: 10px;
	border: 1px solid rgb(78, 78, 78);
	border-radius: 10px;
	height: 20px;
	padding: 20px;
	font-size: 18px;
}
#modal-content h1 {
	text-align: center;
}

.input-wrapper button {
	border: none;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	font-weight: 600;
	font-size: 20px;
}

#modal-content {
	border-radius: 10px;
	padding: 14px;
	width: 500px;
}

.input-wrapper {
	display: flex;
	justify-content: space-between;
}
