.spot-images {
	display: flex;
}
.big-image {
	width: 50%;
	border-radius: 10px;
}

.small-images {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-around;
	width: 50%;
}
.small-images img {
	height: 170px;
	width: 240px;
	border-radius: 10px;
}

.bottom-spot-detail {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.reserve-a-booking {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 20px 40px;
	border-radius: 10px;
	margin-top: 20px;
	width: 30%;
}

.reserve-a-booking button {
	border: none;
	border-radius: 10px;
	margin-top: 10px;
	background-color: rgb(255, 70, 70);
	color: white;
	font-size: 18px;
	padding: 10px;
}
.reserve-a-booking button:hover {
	cursor: pointer;
	background-color: rgb(142, 0, 0);
	transition: 0.4s;
}
.price-reviews {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
}

.price-reviews div:last-child {
	margin-left: 30px;
}
.avgStarRating {
	display: flex;
}

.spot-page {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 1000px;
}
.spot-description p {
	word-break: break-all;
}

.spot-description {
	width: 60%;
}
