#nav-bar {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	margin: 0 auto;
	padding: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.493);
	background-color: white;
}
#nav-bar li {
	padding: 0 10px;
}
.profile-dropdown-hidden {
	display: none;
}
.profile-dropdown {
	position: fixed;
	top: 70px;
	right: 40px;
	width: 200px;
	flex-direction: column;
	text-align: center;
	border-radius: 10px;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.285);
	margin-top: 6px;
	padding-left: 0;
	padding: 10px;
	list-style: none;
	background-color: white;
}
.profile-dropdown li:first-child {
	margin-bottom: 10px;
}
.profile-dropdown button {
	padding-top: 20px;
	font-weight: 600;
	font-size: 16px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.menu li {
	cursor: pointer;
}

#nav-home-button img {
	width: 200px;
}

.menu li:last-child {
	margin-top: 16px;
}

.profile-button {
	border: 1px solid rgba(0, 0, 0, 0.317);
	border-radius: 20px;
	font-size: 30px;
	padding: 5px 10px 0 10px;
	cursor: pointer;
	background-color: white;
}
.profile-button:hover {
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.285);
}
.profile-button-active {
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.285);
	transition: 0.2s;
	border: 1px solid rgba(0, 0, 0, 0.317);
	border-radius: 20px;
	font-size: 30px;
	padding: 5px 10px 0 10px;
	cursor: pointer;
	background-color: white;
}
